body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 22px); /* Ajusta el ancho del input */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; 
}

#resultadoEnvio {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    color: #333;
}
